@media(max-width:1399.98px){
    #order button{
        padding: 10px 40px;
    }
    #left{
        padding-left: 100px;
    }
}
@media(max-width:991.98px){
    #order button{
        padding: 10px 30px;
    }
    #left{
        padding-left: 40px;
        padding-right: 20px;
    }
    #right{
        padding-right: 50px;
    }
    #right #list-product li{
        width: 300px;
    }
    #right #list-product li span.p-name{
        flex-basis: 150px;
    }
    #right #list-product li span.price{
        margin-left: 5px;
        font-size: 13px;
    }
}
@media(max-width:767.98px){
    #content{
        flex-direction: column;
        height: auto;
    }
    ul{
        padding:0px;
    }
    #right h3 {
        padding:0px;
    }
    #left{
        max-height: 1100px;
        max-width: 100vw;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
    }
    #right{
        max-width: 100vw;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
    }
    #order{
        margin-bottom:0px;
    }
}
@media (max-width:575.98px) {
    #left{
        padding: 50px 20px;
    }
    #right{
        padding: 50px 20px;
    }

}