@media(max-width:1399.98px) {
    #left{
        padding-left: 100px;
        max-width: 65vw;
        flex-basis: 65%;
    }
    #right{
       padding-right: 50px;
       max-width: 35vw;
       flex-basis: 35%;
    }
    #right #list-product li span.price{
        margin-left: 0px;
    }
    #right #list-product li{
        width: 300px;
    }
}
@media(max-width:991.98px) {
    #content{
        flex-direction: column;
    }
    #left{
        max-width: 100vw;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    #right{
        max-width: 100vw;
        margin-top: 30px;
        padding-left: 100px;
        padding-bottom: 50px;
    }
}
@media(max-width:767.98px){
   #left{
    padding-left: 20px;
    padding-right: 20px;
   }
   #right{
    padding-left: 20px;
    padding-right: 20px;
   }
   #oi-right{4    padding-left: 14px;
    flex-basis: 40%;
    max-width: 40%;
   }
   #oi-left {
    flex-basis: 60%;
    max-width: 60%;
}
}